$comment  : lighten($info, 15%);
$keyword  : lighten($primary, 15%);
$variable : $primary;
$property : #000;
$operator : #000;
$string   : lighten($primary, 15%);
$number   : lighten($primary, 5%);
$literal  : darken($primary, 5%);

$codeMirrorSelectors: "
  .cm-variable,
  .cm-property,
  .cm-operator,
  .cm-def,
  .cm-number,
  .cm-string,
  .cm-atom
";

$highlightJsSelectors: "
  .hljs-keyword,
  .hljs-number,
  .hljs-string,
  .hljs-literal
";

$gidgetSelectors: "
  .is-keyword,
  .is-operator
";

$comments   : ".cm-comment";
$keywords   : ".cm-keyword, .hljs-keyword, .is-keyword";
$variables  : ".cm-variable";
$properties : ".cm-property";
$operators  : ".cm-operator, .is-operator";
$strings    : ".cm-string, .hljs-string";
$numbers    : ".cm-number, .hljs-number";
$literals   : ".cm-atom, .hljs-literal";

#{$comments}   { color: $comment  !important; }
#{$keywords}   { color: $keyword  !important; }
#{$variables}  { color: $variable !important; }
#{$properties} { color: $property !important; }
#{$operators}  { color: $operator !important; }
#{$strings}    { color: $string   !important; }
#{$numbers}    { color: $number   !important; }
#{$literals}   { color: $literal  !important; }

#{$codeMirrorSelectors}, #{$highlightJsSelectors} {
  font-family: monospace;
}

#{$keywords},
#{$variables},
#{$properties},
#{$strings},
#{$numbers},
#{$literals} {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }
}
